.flecha {
    position: fixed; 
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 35px;
    line-height: 100px;
    font-size: 15px;
    border-radius: 17px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 35, 35);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5); 
    transition: all 200ms;
    z-index: 1;
}

.flecha:hover {
    background-color: rgb(197, 25, 25);
    transform: scale(1.20); 
}

.flecha img {
    height: 40px;
    margin-bottom: 52px;
}

/* nav */

.nav-link{
    margin: 0px 5px;
    width: 110px;
}

.navbar-brand{
    font-size: 30px;
}

.navbar{
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 5px 100px;
}

.navbar-nav{
    margin-left: 235px;
}

/* main */

.center{
    border-radius: 10px;
    width: 800px;
    height: 1645px;
    padding: 20px;
    text-align: justify;
    margin-top: 100px;
    margin-left: 450px;
    margin-bottom: 90px;
}

.center-1{
    width: 750px;
    margin-top: 26px;
}

.input-group-text{
    margin-left: 115px;
}

.cantidad-tienda{
    width: 250px;
    margin-left: 35px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    width: 350px;
}

.card-img-top{
    width: 200px;
    margin-left: 60px;
}

.card-img-pyraminx{
    width: 155px;
    margin-top: 20px;
    margin-left: 85px;
}

.card-img-cuboides{
    width: 250px;
    margin-left: 40px;
}

.card-img-megaminx{
    width: 150px;
    margin-left: 90px;
    margin-top: 20px;
}

.page{
    margin-top: 150px;
    margin-left: 250px;
}

.left{
    border-radius: 10px;
    width: 350px;
    height: 1645px;
    padding: 30px;
    text-align: justify;
    margin-top: -1735px;
    margin-left: 100px;
    margin-bottom: 90px;
}

.left-1{
    width: 300px;
    padding: 5px;
    height: 1580px;
    font-size: 13px;
}

.right{
    border-radius: 10px;
    width: 350px;
    height: 1635px;
    padding: 30px;
    padding-top: 45px;
    text-align: justify;
    margin-top: -1735px;
    margin-left: 1250px;
    margin-bottom: 90px;
}

.d-flex{
    margin-top: 11px;
}


.li-1{
    padding-top: 15px;
    padding-bottom: 15px;
}


/* footer */

.img-logo-footer{
    width: 45px;
    margin-right: 60px;
}