
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="css/style-nosotros.css">

<!-- empieza el body de la pestaña NOSOTROS -->
<body>

    <!-- empieza el codigo del main en html -->
    <main>

        <!-- articulo que encierra las tres secciones a lo largo del main -->
        <article > 

            <!-- empieza con la seccion del centro -->
            <section class="center">

                <!-- empieza la primera seccion -->
                <section class="center-1">

                    <div class="card shadow-lg ">
                        <div class="card-header" style="background-color:#268b3f;">
                        Descripcion general de Nosotros
                        </div>
                        <div class="card-body ">
                          <h5 class="card-title" >Bienvenidos a nosotros de Amazing.cube:</h5>
                          <p class="card-text">Aqui podran encontrar diferentes
                             rubiks para la mirar y apreciar, desde los mas
                            comunes hasta algunos que tan vez nunca
                            te los imaginabas. Tienes acceso para
                            ver contenido de la comunidad o del creador, y tambien podras
                            armar algunos cubos de manera online por
                            si depronto no lo tienes y quieres practica
                            o tan solo probar, animate y vende cubos.</p>
                          <a href="#" class="btn btn-success" style="background-color:#268b3f;">Empieza a saber de nosotros!</a>
                        </div>
                    </div>

                      <br><br><br><br>

                    <div class=" padre-redes ">
                        <a class="list-group-item redes shadow-lg list-group-item-action d-flex align-items-center" href="https://github.com/molxeuz">
                        <img src="https://github.com/molxeuz.png" width="32" height="32" class="rounded me-2" loading="lazy">
                        <span>
                            <strong>GitHub</strong> molxeuz
                        </span>
                        </a>
                
                        <a class="list-group-item redes shadow-lg list-group-item-action d-flex align-items-center" href="https://instagram.com/molxeuz">
                        <img src="Img/WhatsApp Image 2022-04-15 at 6.46.31 PM.jpeg" width="32" height="32" class="rounded me-2" loading="lazy">
                        <span>
                            <strong>Instagram</strong> molxeuz
                        </span>
                        </a>
                    
                        <a class="list-group-item redes shadow-lg list-group-item-action d-flex align-items-center" href="https://instagram.com/amazing.cube">
                        <img src="Img/Logo-definitivo (1).ico" width="28" height="28" class="rounded me-2" loading="lazy">
                        <span>
                            <strong>Instagram</strong> amazing.cube
                        </span>
                        </a>
                    </div>

                    <br><br><br><br>

                    <div class="row g-5">
                        <div class="col-md-6 ">
                          <h2>Nuevos proyectos</h2>
                          <p>Ready to beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
                          <ul class="icon-list">
                            <li><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>
                            <li class="text-muted">Bootstrap Parcel starter (coming soon!)</li>
                          </ul>
                        </div>
                  
                        <div class="col-md-6">
                          <h2>Nuestro trabajo</h2>
                          <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
                          <ul class="icon-list">
                            <li><a href="/docs/5.1/getting-started/introduction/">Bootstrap quick start guide</a></li>
                            <li><a href="/docs/5.1/getting-started/webpack/">Bootstrap Webpack guide</a></li>
                            <li><a href="/docs/5.1/getting-started/parcel/">Bootstrap Parcel guide</a></li>
                            <li><a href="/docs/5.1/getting-started/contribute/">Contributing to Bootstrap</a></li>
                          </ul>
                        </div>
                      </div>

                      <br><br><br>

                      <div class="row align-items-md-stretch ">
                          <div class="col-md-6">
                            <div class="h-100 p-5 text-white rounded-3 shadow-lg" style="background-color:#197530;">
                              <h4>Colaboraciones</h4>
                              <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
                              <button class="btn btn-outline-light" type="button">Example button</button>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="h-100 p-5 bg-light border rounded-3 shadow-lg">
                              <h4>Mas informacion</h4>
                              <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
                              <button class="btn btn-outline-secondary" type="button">Example button</button>
                            </div>
                          </div>
                        </div>
                    
                </section>
                <!-- finaliza con la primera seccion -->

            </section>
            <!-- finaliza con la seccion del centro -->

            <!-- comienza con la seccion del la izquierda -->
            <section class="left">
                <!-- comuienza con la primera seccion -->
                <section class="left-1">

                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>

                    <br><hr>

                    <div data-bs-spy="scroll btn-outline-dark" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">

                        <h4 id="list-item-3">Nosotros:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Redes</a>
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Colaboraciones</a>
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Mas informacion</a>
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Elaboracion</a>
                        </div>

                        <br><br><br><hr>

                        <h4 id="list-item-1">Informacion general:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg ">
                            <a class="list-group-item list-group-item btn-outline-warning" href="#">Descripcion de la pagina</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Que es el cubo rubik?</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Torneo y competencias</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Datos interesantes</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Ranking de los mejores</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Records en video</a>
                        </div>

                        <br><br><br><hr>

                        <h4 id="list-item-2">Tienda en linea:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-danger"  href="#">Marca</a>
                            <a class="list-group-item list-group-item btn-outline-danger"  href="#">Color</a>
                            <a class="list-group-item list-group-item btn-outline-danger" href="#">Dificultad</a>
                            <a class="list-group-item list-group-item btn-outline-danger" href="#">Precios</a>
                        </div>

                        <br><br><br><hr>

                        <h4 id="list-item-3">Galeria:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-primary"  href="#">Salas de exhibicion</a>
                            <a class="list-group-item list-group-item btn-outline-primary"  href="#">Informacion individual</a>
                            <a class="list-group-item list-group-item btn-outline-primary" href="#">Guardados</a>
                            <a class="list-group-item list-group-item btn-outline-primary"  href="#">Mis publicaciones</a>
                        </div

                        <br><br><br><hr>

                        <h4 id="list-item-3">Empresa:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-secondary"  href="#">Logo</a>
                            <a class="list-group-item list-group-item btn-outline-secondary" href="#">Agradecimientos</a>
                            <a class="list-group-item list-group-item btn-outline-secondary" href="#">Nombre</a>
                            <a class="list-group-item list-group-item btn-outline-secondary" href="#">Otros proyectos</a>
                        </div>

                    </div>
                </section>   
                <!-- finaliza con la primera seccion -->

            </section>
            <!-- finaliza con la seccion de la izquierda -->


            <!-- comienza con la seccion de la derecha -->
            <section class="right">

                <section class="right-1">

                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-lg border-success">
                            <div class="card-header py-3 text-black apoyanos border-success bg-light">
                              <h4 class="my-0 fw-normal text-center">Apoyanos!!</h4>
                            </div>
                            <div class="card-body">
                              <h1 class="card-title pricing-card-title">$99.000<small class="text-muted fw-light">/sem</small></h1>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>Muchos beneficios</li>
                                <li>15 GB de almacenamiento</li>
                                <li>Soporte de celular y correo</li>
                                <li>Facil acceso</li>
                              </ul>
                              <button type="button" class="w-100 btn btn-outline-success">Contactanos</button>
                            </div>
                        </div>
                    </div>

                    <br><br>

                    <div class="card text-dark shadow-lg bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Cuenta</div>
                            <div class="card-body">
                                <h5 class="card-title">Inicio de seccion:</h5>
                                <br>
                                <p class="card-text"><button type="button" class="btn btn-outline-secondary">Ingresar con Google</button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-secondary">Ingresar con Facebook</button></p>
                                <hr>
                                <p class="card-text"><button type="button" class="btn btn-outline-success">Pedir ayuda al desarrollador</button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-warning dropdown-toggle">Tus datos en Amazing </button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-primary">Administrar tu cuenta</button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-danger">Configuracion</button></p>
                        </div>
                    </div>

                    <br><br>

                </section>

            </section>
                
        </section>
        <!-- finaliza con la seccion de la derecha -->
            
    </article>
    <!-- finaliza el articulo que encierra las tres secciones del main  -->

</main>
<!-- finaliza el codigo del main en html -->

<br><br>

<!-- comienza el codigo del footer en html -->
<footer>
        
    <div class="container">
        <footer class=" d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">© 2022 Amazing.cube, Inc</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="" width="40" height="32"><img class="img-logo-footer" src="img/Logo-definitivo (1).ico" alt=""></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a href="index-tienda.html" class="nav-link px-2 text-muted">Tienda</a></li>
            <li class="nav-item"><a href="index-galeria.html" class="nav-link px-2 text-muted">Galeria</a></li>
          </ul>
        </footer>
      </div>

</footer>
<!-- finaliza el codigo del footer en html -->

</body>

