
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="css/style-galeria.css">

<!-- empieza el body de la pestaña GALERIA -->
<body>

<!-- empieza el codigo del main en html -->
    <main>

        <!-- articulo que encierra las tres secciones a lo largo del main -->
        <article > 

            <!-- empieza con la seccion del centro -->
            <section class="center">

                <!-- empieza la primera seccion -->
                <section class="center-1">

                    <div class="card shadow-lg ">
                        <div class="card-header" style="background-color:#3e5afc">
                        Descripcion general de la Galeria
                        </div>
                        <div class="card-body ">
                          <h5 class="card-title" >Bienvenidos a la Galeria de Amazing.cube:</h5>
                          <p class="card-text">Aqui podran encontrar diferentes
                             rubiks para la mirar y apreciar, desde los mas
                            comunes hasta algunos que tan vez nunca
                            te los imaginabas. Tienes acceso para
                            ver contenido de la comunidad o del creador, y tambien podras
                            armar algunos cubos de manera online por
                            si depronto no lo tienes y quieres practica
                            o tan solo probar, animate y vende cubos.</p>
                          <a href="#" class="btn btn-primary" style="background-color:#3e5afc ;">Empieza a Compartir!</a>
                        </div>
                    </div>

                      <br>

                      <div class="album py-5">
                        <div class="container">
                    
                          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                            <div class="col">
                              <div class="card shadow-lg">
                                <img src="img/butterfly4 - sala2.jpg" style="width: 180px; margin-left: 25px;" alt="">
                                <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                    
                                <div class="card-body">
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Gusta</button>
                                      <button type="button" class="btn btn-sm btn-outline-secondary">comentar</button>
                                    </div>
                                    <small class="text-muted">9 min</small>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-lg">
                                  <img src="img/megamorphix.jpg" style="width: 180px; margin-left: 25px;" alt="">
                                  <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                      
                                  <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Gusta</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">comentar</button>
                                      </div>
                                      <small class="text-muted">9 min</small>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-lg">
                                  <img src="img/megaminx3-sala1.jpg" style="width: 180px; margin-left: 25px;" alt="">
                                  <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                      
                                  <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Gusta</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">comentar</button>
                                      </div>
                                      <small class="text-muted">9 min</small>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    
                              <div class="col">
                                <div class="card shadow-lg">
                                  <img src="img/mirror1 - sala4.webp" style="width: 180px; margin-left: 25px;" alt="">
                                  <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                      
                                  <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Gusta</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">comentar</button>
                                      </div>
                                      <small class="text-muted">9 min</small>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card shadow-lg">
                                  <img src="img/pyraminx1 - sala3.jpg" style="width: 180px; margin-left: 25px;" alt="">
                                  <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                      
                                  <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Gusta</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">comentar</button>
                                      </div>
                                      <small class="text-muted">9 min</small>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card shadow-lg">
                                  <img src="img/megaminx2-sala1.jpg" style="width: 180px; margin-left: 25px;" alt="">
                                  <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                      
                                  <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Gusta</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">comentar</button>
                                      </div>
                                      <small class="text-muted">9 min</small>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    
                              <div class="col">
                                <div class="card shadow-lg">
                                  <img src="img/mirror4 - sala4.jpg" style="width: 180px; margin-left: 25px;" alt="">
                                  <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                      
                                  <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Gusta</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">comentar</button>
                                      </div>
                                      <small class="text-muted">9 min</small>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            <div class="col">
                              <div class="card shadow-lg">
                                <img src="img/square-1.jpg" style="width: 180px; margin-left: 25px;" alt="">
                                <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                    
                                <div class="card-body">
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Gusta</button>
                                      <button type="button" class="btn btn-sm btn-outline-secondary">comentar</button>
                                    </div>
                                    <small class="text-muted">9 min</small>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card shadow-lg">
                                <img src="img/megaminx4-sala1.jpg" style="width: 180px; margin-left: 25px;" alt="">
                                <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                    
                                <div class="card-body">
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Gusta</button>
                                      <button type="button" class="btn btn-sm btn-outline-secondary">comentar</button>
                                    </div>
                                    <small class="text-muted">9 min</small>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                

                <nav aria-label="Page navigation example" class="page">
                    <ul class="pagination">
                      <li class="page-item "><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="index-galeria.html">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

                </section>
                <!-- finaliza con la primera seccion -->

            </section>
            <!-- finaliza con la seccion del centro -->

            <!-- comienza con la seccion del la izquierda -->
            <section class="left">
                <!-- comuienza con la primera seccion -->
                <section class="left-1">

                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>

                    <br><hr>

                    <div data-bs-spy="scroll btn-outline-dark" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">

                        <h4 id="list-item-3">Galeria:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-primary"  href="#">Salas de exhibicion</a>
                            <a class="list-group-item list-group-item btn-outline-primary"  href="#">Informacion individual</a>
                            <a class="list-group-item list-group-item btn-outline-primary" href="#">Guardados</a>
                            <a class="list-group-item list-group-item btn-outline-primary"  href="#">Mis publicaciones</a>
                        </div

                        <br><br><br><hr>

                        <h4 id="list-item-1">Informacion general:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg ">
                            <a class="list-group-item list-group-item btn-outline-warning" href="#">Descripcion de la pagina</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Que es el cubo rubik?</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Torneo y competencias</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Datos interesantes</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Ranking de los mejores</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Records en video</a>
                        </div>

                        <br><br><br><hr>

                        <h4 id="list-item-2">Tienda en linea:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-danger"  href="#">Marca</a>
                            <a class="list-group-item list-group-item btn-outline-danger"  href="#">Color</a>
                            <a class="list-group-item list-group-item btn-outline-danger" href="#">Dificultad</a>
                            <a class="list-group-item list-group-item btn-outline-danger" href="#">Precios</a>
                        </div>

                        <br><br><br><hr>
                            
                        <h4 id="list-item-3">Nosotros:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Redes</a>
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Colaboraciones</a>
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Mas informacion</a>
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Elaboracion</a>
                        </div>

                        <br><br><br><hr>

                        <h4 id="list-item-3">Empresa:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-secondary"  href="#">Logo</a>
                            <a class="list-group-item list-group-item btn-outline-secondary" href="#">Agradecimientos</a>
                            <a class="list-group-item list-group-item btn-outline-secondary" href="#">Nombre</a>
                            <a class="list-group-item list-group-item btn-outline-secondary" href="#">Otros proyectos</a>
                        </div>

                    </div>
                </section>   
                <!-- finaliza con la primera seccion -->

            </section>
            <!-- finaliza con la seccion de la izquierda -->


            <!-- comienza con la seccion de la derecha -->
            <section class="right">

                <section class="right-1">

                    <div class="my-3 p-3 bg-body rounded shadow-lg mb-20">
                        <h6 class="border-bottom pb-2 mb-0 ">Comentarios recientes</h6>
                        <div class="d-flex text-muted pt-3">
                          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                    
                          <p class="pb-3 mb-0 small lh-sm border-bottom">
                            <strong class="d-block text-gray-dark">Adicto_cubos</strong>
                            Some representative placeholder content, with some information about this user.
                          </p>
                        </div>
                        <div class="d-flex text-muted pt-3">
                          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
                    
                          <p class="pb-3 mb-0 small lh-sm border-bottom">
                            <strong class="d-block text-gray-dark">Ch3lios</strong>
                            Some more representative placeholder content, related to this other user. Another status update, perhaps.
                          </p>
                        </div>
                        <div class="d-flex text-muted pt-3">
                          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
                    
                          <p class="pb-3 mb-0 small lh-sm border-bottom">
                            <strong class="d-block text-gray-dark">Nada_mas</strong>
                            This user also gets some representative placeholder content.
                          </p>
                        </div>
                        <small class="d-block text-end mt-3">
                          <a href="index-galeria.html">Todo Actualizado</a>
                        </small>
                      </div>

                    <br><br>

                    <div class="card text-dark shadow-lg bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Cuenta</div>
                            <div class="card-body">
                                <h5 class="card-title">Inicio de seccion:</h5>
                                <br>
                                <p class="card-text"><button type="button" class="btn btn-outline-secondary">Ingresar con Google</button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-secondary">Ingresar con Facebook</button></p>
                                <hr>
                                <p class="card-text"><button type="button" class="btn btn-outline-success">Pedir ayuda al desarrollador</button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-warning dropdown-toggle">Tus datos en Amazing </button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-primary">Administrar tu cuenta</button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-danger">Configuracion</button></p>
                        </div>
                    </div>

                    <br><br>

                </section>

            </section>
                
        </section>
        <!-- finaliza con la seccion de la derecha -->
            
    </article>
    <!-- finaliza el articulo que encierra las tres secciones del main  -->

</main>
<!-- finaliza el codigo del main en html -->

<br><br>

<!-- comienza el codigo del footer en html -->
<footer>
        
    <div class="container">
        <footer class=" d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">© 2022 Amazing.cube, Inc</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="" width="40" height="32"><img class="img-logo-footer" src="img/Logo-definitivo (1).ico" alt=""></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a href="index-tienda.html" class="nav-link px-2 text-muted">Tienda</a></li>
            <li class="nav-item"><a href="index-galeria.html" class="nav-link px-2 text-muted">Galeria</a></li>
          </ul>
        </footer>
      </div>

</footer>
<!-- finaliza el codigo del footer en html -->

</body>

