
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="css/style-tienda.css">

<!-- empieza el body de la pestaña TIENDA -->
<body>

    <!-- empieza el codigo del main en html -->
    <main>

        <!-- articulo que encierra las tres secciones a lo largo del main -->
        <article > 

            <!-- empieza con la seccion del centro -->
            <section class="center">

                <!-- empieza la primera seccion -->
                <section class="center-1">

                    <div class="card shadow-lg ">
                        <div class="card-header" style="background-color:#ff4747">
                        Descripcion general de la Tienda en linea
                        </div>
                        <div class="card-body ">
                          <h5 class="card-title" >Bienvenidos a la tienda de Amazing.cube:</h5>
                          <p class="card-text">Aqui podran encontrar diferentes
                             rubiks para la venta, desde los mas
                            comunes hasta algunos que tan vez nunca
                            te los imaginabas. Tienes acceso para
                            ver productos de la comunidad o  del creador, y tambien podras
                            armar algunos cubos de manera online por
                            si depronto no lo tienes y quieres practica
                            o tan solo probar, animate y vende cubos.</p>
                          <a href="#" class="btn btn-danger" style="background-color:#f02727 ;">Empieza a comprar!</a>
                        </div>
                      </div>

                      <br><br><br>

                <div class="row row-cols-1 row-cols-md-2 g-4 row-tienda">
                    <div class="col">
                        <div class="card shadow-lg">
                            <img src="Img/butterfly4 - sala2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">ShengShou Petaminx 9 Layer Minx Puzzle</h5>
                              <p class="card-text">El nuevo ShengShou Pentaminx es un desafiante rompecabezas Minx de 9 capas para su colección de rompecabezas más compleja.</p>
                            </div>
                            
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <span class="input-group-text">14.99</span>
                            </div>
                            <div class="input-group cantidad-tienda mb-3">
                                <button class="btn btn-outline-secondary" type="button">Al carrito</button>
                                <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                                  <option selected>Unidades</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                              </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-lg">
                            <img src="Img/cuboides.jpg" class="card-img-top card-img-cuboides" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card t</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <span class="input-group-text">14.99</span>
                            </div>
                            <div class="input-group cantidad-tienda mb-3">
                                <button class="btn btn-outline-secondary" type="button">Al carrito</button>
                                <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                                  <option selected>Unidades</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                              </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row row-cols-1 row-cols-md-2 g-4 row-tienda">
                    <div class="col">
                        <div class="card shadow-lg">
                            <img src="Img/megaminx3-sala1.jpg" class="card-img-top card-img-megaminx" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card t</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <span class="input-group-text">14.99</span>
                            </div>
                            <div class="input-group cantidad-tienda mb-3">
                                <button class="btn btn-outline-secondary" type="button">Al carrito</button>
                                <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                                  <option selected>Unidades</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                              </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-lg">
                            <img src="Img/pyraminx3 - sala3.jpg" class="card-img-top card-img-pyraminx" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card t</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <span class="input-group-text">14.99</span>
                            </div>
                            <div class="input-group cantidad-tienda mb-3">
                                <button class="btn btn-outline-secondary" type="button">Al carrito</button>
                                <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                                  <option selected>Unidades</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                              </div>
                            </div>
                        </div>
                    </div>  
                </div>                  

                <nav aria-label="Page navigation example" class="page">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link text-danger" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link text-danger" href="index-tienda.html">1</a></li>
                      <li class="page-item"><a class="page-link text-danger" href="#">2</a></li>
                      <li class="page-item"><a class="page-link text-danger" href="#">3</a></li>
                      <li class="page-item"><a class="page-link text-danger" href="#">Next</a></li>
                    </ul>

                </nav>

                </section>
                <!-- finaliza con la primera seccion -->

            </section>
            <!-- finaliza con la seccion del centro -->

            <!-- comienza con la seccion del la izquierda -->
            <section class="left">
                <!-- comuienza con la primera seccion -->
                <section class="left-1">

                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>

                    <br><hr>

                    <div data-bs-spy="scroll btn-outline-dark" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                        <h4 id="list-item-2">Tienda en linea:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-danger"  href="#">Marca</a>
                            <a class="list-group-item list-group-item btn-outline-danger"  href="#">Color</a>
                            <a class="list-group-item list-group-item btn-outline-danger" href="#">Dificultad</a>
                            <a class="list-group-item list-group-item btn-outline-danger" href="#">Precios</a>
                        </div>

                        <br><br><br><hr>

                        <h4 id="list-item-1">Informacion general:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg ">
                            <a class="list-group-item list-group-item btn-outline-warning" href="#">Descripcion de la pagina</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Que es el cubo rubik?</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Torneo y competencias</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Datos interesantes</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Ranking de los mejores</a>
                            <a class="list-group-item list-group-item btn-outline-warning"  href="#">Records en video</a>
                        </div>

                        <br><br><br><hr>

                        <h4 id="list-item-3">Galeria:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-primary"  href="#">Salas de exhibicion</a>
                            <a class="list-group-item list-group-item btn-outline-primary"  href="#">Informacion individual</a>
                            <a class="list-group-item list-group-item btn-outline-primary" href="#">Guardados</a>
                            <a class="list-group-item list-group-item btn-outline-primary"  href="#">Mis publicaciones</a>
                        </div>

                        <br><br><br><hr>
                            
                        <h4 id="list-item-3">Nosotros:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Redes</a>
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Colaboraciones</a>
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Mas informacion</a>
                            <a class="list-group-item list-group-item btn-outline-success" href="#">Elaboracion</a>
                        </div>

                        <br><br><br><hr>

                        <h4 id="list-item-3">Empresa:</h4>
                        <br>
                        <div id="list-example" class="list-group shadow-lg">
                            <a class="list-group-item list-group-item btn-outline-secondary"  href="#">Logo</a>
                            <a class="list-group-item list-group-item btn-outline-secondary" href="#">Agradecimientos</a>
                            <a class="list-group-item list-group-item btn-outline-secondary" href="#">Nombre</a>
                            <a class="list-group-item list-group-item btn-outline-secondary" href="#">Otros proyectos</a>
                        </div>

                    </div>
                </section>   
                <!-- finaliza con la primera seccion -->

            </section>
            <!-- finaliza con la seccion de la izquierda -->


            <!-- comienza con la seccion de la derecha -->
            <section class="right">

                <section class="right-1">

                    <div class="card text-dark shadow-lg bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Carrito de compra</div>
                        <div class="card-body">
                            <div class="card" style="width: 250px; height: 300px;">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">Mostrando ultima compra:</h6>
                                    <img src="img/butterfly4 - sala2.jpg" style=" margin-left: 55px; width: 100px; height: 100px;" alt="">
                                    <p class="card-text">ShengShou Petaminx 9 Layer Minx Puzzle</p>
                                    <button type="button" id="boton_like_carrito" class="btn btn-outline-secondary" aria-expanded="false">LIKE</button>
                                    <button type="button" id="boton_share_carrito" class="btn btn-outline-secondary" aria-expanded="false">SHARE</button>
                                </div>
                            </div>
                            <br>
                            <p class="card-text"><button type="button" class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Enviar comentarios </button></p> 
                        </div>
                    </div>

                    <br><br>

                    <div class="card text-dark shadow-lg bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Cuenta</div>
                            <div class="card-body">
                                <h5 class="card-title">Inicio de seccion:</h5>
                                <br>
                                <p class="card-text"><button type="button" class="btn btn-outline-secondary">Ingresar con Google</button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-secondary">Ingresar con Facebook</button></p>
                                <hr>
                                <p class="card-text"><button type="button" class="btn btn-outline-success">Pedir ayuda al desarrollador</button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-warning dropdown-toggle">Tus datos en Amazing </button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-primary">Administrar tu cuenta</button></p>
                                <p class="card-text"><button type="button" class="btn btn-outline-danger">Configuracion</button></p>
                        </div>
                    </div>

                    <br><br>

                </section>

            </section>
                
        </section>
        <!-- finaliza con la seccion de la derecha -->
            
    </article>
    <!-- finaliza el articulo que encierra las tres secciones del main  -->

</main>
<!-- finaliza el codigo del main en html -->

<br><br>

<!-- comienza el codigo del footer en html -->
<footer>
        
    <div class="container">
        <footer class=" d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">© 2022 Amazing.cube, Inc</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="" width="40" height="32"><img class="img-logo-footer" src="img/Logo-definitivo (1).ico" alt=""></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a href="index-tienda.html" class="nav-link px-2 text-muted">Tienda</a></li>
            <li class="nav-item"><a href="index-galeria.html" class="nav-link px-2 text-muted">Galeria</a></li>
          </ul>
        </footer>
      </div>

</footer>
<!-- finaliza el codigo del footer en html -->

</body>

