
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="css/style-tabla_usuario.css">


<!-- empieza el body de la pestaña TABLA USUARIO -->
<body>

    <main>
        
            <table class="tabla_usuario table table-hover">
            
                <thead>
                    <tr>
                        <th scope="col"><button type="button" style="background-color: #ffb223; ;" class="btn btn-lg">POSICION</button></th>
                        <th scope="col"><button type="button" style="background-color: #f02727; ;" class="btn btn-lg">NOMBRE</button></th>
                        <th scope="col"><button type="button" style="background-color: #ffe923; ;" class="btn btn-lg">APELLIDO</button></th>
                        <th scope="col"><button type="button" style="background-color: #3e5afc; ;" class="btn btn-lg">MIEMBRO</button></th>
                        <th scope="col"><button type="button" style="background-color: #268b3f; ;" class="btn btn-lg">ACTIVIDAD</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><button type="button" style="background-color: #ffb223; ;" class="btn btn-lg" disabled>1</button></th>
                        <td><button type="button" style="background-color: #f02727; ;" class="btn btn-lg" disabled>Julian</button></td>
                        <td><button type="button" style="background-color: #ffe923; ;" class="btn btn-lg" disabled>Cardona</button></td>
                        <td><button type="button" style="background-color: #3e5afc; ;" class="btn btn-lg" disabled>5 años</button></td>
                        <td><button type="button" style="background-color: #268b3f; ;" class="btn btn-lg" disabled>Online</button></td>
                    </tr>
                    <tr>
                        <th scope="row"><button type="button" style="background-color: #ffb223; ;" class="btn btn-lg" disabled>2</button></th>
                        <td><button type="button" style="background-color: #f02727; ;" class="btn btn-lg" disabled>Santiago</button></td>
                        <td><button type="button" style="background-color: #ffe923; ;" class="btn btn-lg" disabled>Salazar</button></td>
                        <td><button type="button" style="background-color: #3e5afc; ;" class="btn btn-lg" disabled>4,5 años</button></td>
                        <td><button type="button" style="background-color: #268b3f; ;" class="btn btn-lg" disabled>Offline</button></td>
                    </tr>
                    <tr>
                        <th scope="row"><button type="button" style="background-color: #ffb223; ;" class="btn btn-lg" disabled>3</button></th>
                        <td><button type="button" style="background-color: #f02727; ;" class="btn btn-lg" disabled>Jhimmy</button></td>
                        <td><button type="button" style="background-color: #ffe923; ;" class="btn btn-lg" disabled>Calderon</button></td>
                        <td><button type="button"style="background-color: #3e5afc; ;" class="btn btn-lg" disabled>4 años</button></td>
                        <td><button type="button" style="background-color: #268b3f; ;" class="btn btn-lg" disabled>Online</button></td>
                    </tr>
                    <tr>
                        <th scope="row"><button type="button" style="background-color: #ffb223; ;" class="btn btn-lg" disabled>4</button></th>
                        <td><button type="button" style="background-color: #f02727; ;" class="btn btn-lg" disabled>Felipe</button></td>
                        <td><button type="button" style="background-color: #ffe923; ;" class="btn btn-lg" disabled>Zapata</button></td>
                        <td><button type="button" style="background-color: #3e5afc; ;" class="btn btn-lg" disabled>3,5 años</button></td>
                        <td><button type="button" style="background-color: #268b3f; ;" class="btn btn-lg" disabled>Online</button></td>
                    </tr>
                    <tr>
                        <th scope="row"><button type="button" style="background-color: #ffb223; ;" class="btn btn-lg" disabled>5</button></th>
                        <td><button type="button" style="background-color: #f02727; ;" class="btn btn-lg" disabled>Albeiro</button></td>
                        <td><button type="button" style="background-color: #ffe923; ;" class="btn btn-lg" disabled>Profesor</button></td>
                        <td><button type="button" style="background-color: #3e5afc; ;" class="btn btn-lg" disabled>3 años</button></td>
                        <td><button type="button" style="background-color: #268b3f; ;" class="btn btn-lg" disabled>Offline</button></td>
                    </tr>
                </tbody>
    
            </table>

        </main>

        <footer>
        
            <div class="container">
                <footer class=" d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                  <p class="col-md-4 mb-0 text-muted">© 2022 Amazing.cube, Inc</p>
              
                  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="" width="40" height="32"><img class="img-logo-footer" src="img/Logo-definitivo (1).ico" alt=""></svg>
                  </a>
              
                  <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Inicio</a></li>
                    <li class="nav-item"><a href="index-tienda.html" class="nav-link px-2 text-muted">Tienda</a></li>
                    <li class="nav-item"><a href="index-galeria.html" class="nav-link px-2 text-muted">Galeria</a></li>
                  </ul>
                </footer>
            </div>
        
        </footer>

</body>

